[Unit]
Description=uWSGI instance to serve quicktry
After=network.target

[Service]
User=quicktry
Group=www-data
WorkingDirectory=/home/quicktry/QuickTry-Server
Environment="PATH=/home/quicktry/QuickTry-Server/venv/bin"
Environment="QUICKTRY_SETTINGS=/home/quicktry/QuickTry-Server/config.cfg"
ExecStart=/home/quicktry/QuickTry-Server/venv/bin/uwsgi --ini production/quicktry.ini

[Install]
WantedBy=multi-user.target